# maso, 2018: .project is not reated to the developer environment
#.project
.buildpath
.settings


# Examples
/site/tenant

# Composer
/vendor/
composer.lock
composer-setup.php
composer.phar

clover.xml
/build/
