<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
		<testsuite name="Basic">
			<directory>tests/Shop/</directory>
		</testsuite>
		<testsuite name="Product">
			<directory>tests/Product/</directory>
		</testsuite>
		<testsuite name="Service">
			<directory>tests/Service/</directory>
		</testsuite>
		<testsuite name="Delivery">
			<directory>tests/Delivery/</directory>
		</testsuite>
		<testsuite name="Order">
			<directory>tests/Order/</directory>
			<directory>tests/OrderItem/</directory>
		</testsuite>
    </testsuites>
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>